<div id="tdItemModal" class="modal fade bs-example-modal-sm" role="dialog">
  <div class="modal-dialog" style="width: 800px;">
	  <div class="modal-content">
	    <div class="modal-header modal-header-info">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h3 class="modal-title">
	      	TD Item
	      </h3>
	    </div>

	    <div class="modal-body">
        <div class="row">
        	<form class="form-horizontal">

        		<div class="col-sm-6">

						  <div class="form-group">
						    <label for="inputName" class="col-sm-3 control-label">Identification date</label>
						    <div class="col-sm-8">
						      <input type="text" class="form-control" id="inputName" ng-model="tdItemModalObj.identificationDate" readonly="readonly">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputDescription" class="col-sm-3 control-label">Type</label>
						    <div class="col-sm-8">
						      <select  class="form-control" id="inputCvs" ng-model="tdItemModalObj.type">
						    		<option>Code</option>
						    		<option>Design</option>
						    	</select>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPath" class="col-sm-3 control-label">TD Item</label>
						    <div class="col-sm-8">
						      <select  class="form-control" ng-model="tdItemModalObj.tdItem">
						    		<option value="Duplicated code">Duplicated code</option>
						    		<option value="Long method">Long method</option>
						    	</select>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPath" class="col-sm-3 control-label">Occurred by</label>
						    <div class="col-sm-8">
						    	<input type="text" class="form-control" id="inputPath" placeholder="Committer name" ng-model="tdItemModalObj.occurredBy" readonly="readonly">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPath" class="col-sm-3 control-label">Location</label>
						    <div class="col-sm-8">
						      <input type="text" class="form-control" id="inputPath" placeholder="E.g.: /Users/John/Project/name.java" ng-model="tdItemModalObj.location" readonly="readonly">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPath" class="col-sm-3 control-label">Notes</label>
						    <div class="col-sm-8">
						      <textarea class="form-control" ng-model="tdItemModalObj.notes"></textarea>
						    </div>
						  </div>
						  


				  	</div>
				  	<div class="col-sm-6">
				  		<div class="form-group">
				  		  <label for="inputPath" class="col-sm-3 control-label">TD item?</label>
				  		  <div class="col-sm-8">
				  		    <input type="checkbox" class="minimal" ng-checked="tdItemModalObj.isTdItem == true">
				  		  </div>
				  		</div>
				  		<div class="form-group">
				  		  <label for="inputPath" class="col-sm-3 control-label">Principal</label>
				  		  <div class="col-sm-8">
				  		    <input type="text" class="form-control" id="inputPath" ng-model="tdItemModalObj.principal">
				  		  </div>
				  		</div>
				  		<div class="form-group">
				  		  <label for="inputPath" class="col-sm-3 control-label">Interest amount</label>
				  		  <div class="col-sm-8">
				  		    <input type="text" class="form-control" id="inputPath" ng-model="tdItemModalObj.interestAmount">
				  		  </div>
				  		</div>
				  		<div class="form-group">
				  		  <label for="inputPath" class="col-sm-3 control-label">New interest probability</label>
				  		  <div class="col-sm-8">
				  		    <input type="text" class="form-control" id="inputPath" ng-model="tdItemModalObj.newInterestProbability">
				  		  </div>
				  		</div>
				  	</div>

				  	<div class="form-group">
					    <div class="col-sm-offset-3 col-sm-9">
					      <button ng-click="mineRepository()" class="btn btn-danger">Cancel</button>
					      <button ng-click="mineRepository()" class="btn btn-success">Save</button>
					    </div>
					  </div>

					</form>
        </div>
	    </div>
	  </div>
	</div>
</div>