<div ng-show="filtered.repository != null && currentPage == 'treeMap'">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      D.E.V
      <small>TreeMap Perspective</small>
    </h1>
    <br/><br/>
      <div id="buttons" >
		    	Area:
		        <select ng-model="metrics">
					<option ng-repeat="x in metricsLoaded" value="{{metricsLoaded.indexOf(x)}}">{{x}}</option>
				</select>
		        Color:
		        <select ng-model="metrics2">
					<option ng-repeat="x in metricsLoaded" value="{{metricsLoaded.indexOf(x)}}">{{x}}</option>
				</select>
		        <span>
		        <input ng-model="selectMethod" type="radio" name="q1" value="s"/>Single Version
				<input ng-model="selectMethod" type="radio" name="q1" value="e"/>Evolution
			    </span>
				<div ng-show="selectMethod == 'e'">
		        Version-1:
		        <select ng-model="selectedVersion1">
					<option ng-repeat="x in tagsLoaded" value="{{x.name}}">{{x.name}}</option>
				</select>
				</div>
				Version-2:
		        <select ng-model="selectedVersion2">
					<option ng-repeat="x in tagsLoaded" value="{{x.name}}">{{x.name}}</option>
				</select>
				<div ng-show="selectMethod == 'e'">
				Strategies:
				<select name="strategies" ng-model="strategies" bs-selectbox>
		            <option value="1" selected>Differential - Absolute</option>
		            <option value="2">Differential - Relative</option>
		        </select>
		        </div>
		        </br>
		        <button type="button" class="btn btn-primary" ng-click="generate()">Generate</button>
		</div>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-area-chart"></i> D.E.V</a></li>
      <li class="active">TreeMap</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
	<!-- Content Wrapper. Contains page content -->
      <!--<div class="content-wrapper">-->
          <section class="high" id="container">
          
          </section>
          <section id="example" class="high"></section>

        </div>
		<br/>

		<!-- <rzslider id= "slider-versions" rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options">
         </rzslider> -->
        
		<br/><br/>
		<div class="context-menu-one btn btn-neutral" id="container"></div>
		<br/><br/>
	

		<!--</div>--><!-- /.content-wrapper -->
    <div class="box-header with-border">
      <div class="row">
          Welcome to the D.E.V  TreeMap perspective
      </div>
    </div>

  </section>
</div>
