<div ng-show="filtered.repository != null && currentPage == 'tdanalyzer'">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      TD Analyzer
      <small>Identify which classes have Technical Debt</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="tdevolution" ng-click="TDAnalyzerCtrl.selectView('tdevolution')"><i class="fa fa-line-chart"></i> TD Evolution</a></li>
      <li class="active">TD Analyzer</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="box-header with-border" ng-show="filtered.tags.length > 0">
      <div class="row">
        <div ng-show="tdItems != null">
          <i class="fa fa-database" style="font-size: 15px"></i>
          <h2 class="box-title">{{filtered.repository.name}}</h2>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="analyzeDebts()" style="margin-right: 5px;">
            <i class="fa fa-repeat" style="
    padding-right: 5px;
"></i>Process tags</button>
      </div>
    </div><!-- /.box-header -->

    <!-- <section class="content"> -->
      <div class="alert alert-warn-vmtd alert-dismissable" ng-show="!filtered.tags[0]">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="icon fa fa-hand-o-left"></i>Please, select at least one tag in the left menu.
      </div>
      <div class="alert alert-warn-vmtd alert-dismissable" style="text-align:right;" ng-show="filtered.tags.length > 0 && tdItems == null">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Please, click at Process tags button. <i class="icon fa fa-hand-o-up"></i>
      </div>
    <!-- </section> -->

    <div class="row" ng-show="filtered.tags.length > 0 && tdItems != null">

      <div class="col-sm-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Filters</h3>
            <span class="label label-default pull-right"><i class="fa fa-filter"></i></span>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Identification date:</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="filter-identificationdate" ng-model="filter.identificationDate" ng-change="filterApply()">
                </div><!-- /.input group -->
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label>Types:</label>
                <select class="form-control select2" multiple="multiple" style="width: 100%;" ng-model="filter.type" ng-change="filterApply()">
                  <option value="Code Debt">Code Debt</option>
                  <option value="Design Debt" selected="selected">Design Debt</option>
                </select>
              </div><!-- /.form-group -->
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label>TD Indicator:</label>
                <select class="form-control select2" multiple="multiple" style="width: 100%;" ng-model="filter.tdIndicator" ng-change="filterApply()">
                  <option value="Cyclomatic Complexity">Cyclomatic Complexity</option>
                  <option value="Duplicated Code" ng-selected="string" selected="selected">Duplicated Code</option>
                  <option value="Long Method" selected="selected">Long Method</option>
                </select>
              </div><!-- /.form-group -->
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label>Is TD Item?</label>
                <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" ng-model="filter.isTdItem" ng-change="filterApply()">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div><!-- /.form-group -->
            </div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>


      <div class="col-xs-12">

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">TD Data Collection [{{tdItemFiltered.length}}]</h3>
            <span class="label label-default pull-right"><i class="fa fa-table"></i></span>
          </div><!-- /.box-header -->

          <div class="box-body">
            <table id="tditem-datatable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Identification date</th>
                  <th>Type</th>
                  <th>TD Indicator</th>
                  <th>Incurred by</th>
                  <th>Location</th>
                  <th>TD item?</th>
                  <th>Principal</th>
                  <th>Interest amount</th>
                  <th>Interest Probability</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in tdItemFiltered | orderBy: '-item.commit.date'" ng-click="tdItemEdit({tdItem: item, i: $index})" style="cursor: pointer;">
                  <td>{{tdItemFormatDate(item.commit.date)}}</td>
                  <td><span class="label" style="background-color:#1B93A7!important; margin-right:3px;">{{item.type}}</span></td>
                  <td><span class="label label-default">{{item.tdIndicator.name}}</span></td>
                  <td><img ng-src="{{item.committer.avatar}}" class="avatar-small" alt="{{item.committer.name}}"> {{item.committer.name}}</td>
                  <td>{{item.tdIndicator.location}}</td>
                  <td>{{(item.isTdItem) ? "Yes" : "No"}}</td>
                  <td>{{item.principal}}<span ng-show="item.principal!=null">h</span></td>
                  <td>{{item.interestAmount}}<span ng-show="item.interestAmount!=null">h</span></td>
                  <td>{{item.interestProbability}}<span ng-show="item.interestProbability!=null">%</span></td>
                  <td class="truncate">{{item.notes}}</td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
</div>